@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 0px);
  }
  main {
    min-height: 100vh;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: max(884px, 100dvh);
}
